body {
    margin: 0px;
    /* font-family: "Crimson", serif; */
    font-family: "Roboto Slab", serif;
}

.jumbotron {
    background-image: url("bg.jpg");
    background-size: cover;
    height: 550px;
}

.btn-warning {
    background-color: rgb(185, 122, 29);
    border-radius: 10px;
    box-shadow: 4px 10px 1px black;
}

.btn-warning:hover {
    background-color: rgb(234, 255, 0);
}

.footer {
    line-height: 50px;
    margin-bottom: 0;
}